#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  font-family: 'Geist', sans-serif;
  font-weight: normal;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color: var(--hover-bg2);
  color: var(--hover-bg);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -30px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/* End of Tooltip */

/* Fonts */
@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist-Regular.woff2') format('woff2'),
       url('./fonts/Geist-Regular.otf') format('opentype');
  font-weight: normal;
}

.geist-font {
  font-family: 'Geist', sans-serif;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.DropdownMenuContent {
  transform-origin: var(--radix-dropdown-menu-content-transform-origin);
  animation: scaleIn 0.5s ease-out;
  
}

.dummy-input-style {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
  /* Add more styling as needed to match your Input component */
}